*{
    box-sizing: border-box;
}

body{
    font-family: Cooper Black; 
    font-size: 15px;
    line-height: 1.5;
    
    background-color: #000000;
    color: #ffffff;
}

header {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    z-index: 1;
}

header h1{
    padding: 0;
}

header h2{
    padding: 0;
}

header h3{
    padding: 0;
}
header nav{
    float: left;
}

header nav a{
    color: yellow;
    text-decoration: none;
    margin-left: 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

header nav a:hover{
    border-bottom: 5px solid blue;
}

.hellvetica p{
    color: blue;
    font-size: 20px;
    background-color: yellow;
    padding: 10px
}

.hellvetica h1{
    font-family: helvetica;
    font-size: 13px;
    padding: 10px;
}

.hellvetica {
  max-width: 800px;
  margin: auto;
}

.hellvetica div {
  padding: 9px;
  width: 32%;
  overflow: auto;
  display: inline-block;
}

.hellvetica div img {
  width: 100%;
}

footer{
    font-size: 12px;
    color: blue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

footer p {
    float:right;
}

footer nav {
    float:right;
}

footer img{
    width: 24px;
}