body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: springgreen;
}

header{
    position: fixed;
    top: 20px; 
    left: 20px; 
}

h1{
    font-size: 24px;
    font-weight:700px;
}

footer{
    position: fixed;
    bottom: 30px;
    right: 20px;
    
}

a{
    color:white;
    text-decoration:none;
    margin: 0px 10px 0px 0px;
    transition: all .5s;
}

a:hover{
    color:hotpink
}

section{
    height:100vh;
    background-color: mediumpurple;
    background-image: url(charlotte-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section.charlotte-2{
    background-image: url(charlotte-2.jpg);
}

section.charlotte-3{
    background-image: url(charlotte-3.jpg);
}

section.charlotte-4{
    background-image: url(charlotte-4.jpg);
}

