@import url('https://fonts.googleapis.com/css?family=Rubik');

header nav{
    width: 100%;
    background-color: lightskyblue;
    position: fixed;
    text-align: right;
    padding: 10px; 
}

header img{
    width: 100%;
}

nav{
    background-color: #FD9EFF;
    padding: 20px 40px 20px 40px;
    float:right;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    margin: 0px 15px 0px 0px;
}

nav a:hover{
    color: #FD9EFF;
}

body{
    font-family: 'rubik';
    font-size: 18px;
    line-height: 1.5;
    width: 100%; 
}

h1, h2{
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
}

h1{
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
    color: blue;
}

p{
    margin: 0;
}
    
section.intro h1{
    padding: 0 0 10px 0;
}

section.intro p{
    padding: 0 0 10px 0;
}

section.intro img{
    width: 33.33%;
}

section.artists {
    overflow: hidden;
}

section.artists img{
    position: relative;
    float: center;
    width:  180px;
    height: 180px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

p{
    position: relative;
    float: center;
}

section.features img{
    float: center;
}

footer{
    background-color: #FD9EFF; 
    overflow: hidden;
}

footer img{
    width:19%;
}

section{
    background-color: #FD9EFF;
    padding: 40px;
    color:#ffffff;
}

@media (max-width: 700px){
    body {
        font-size: 15px;
        width: auto;
        margin: 0;
    }
}